<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ultrasonic">
  <xacro:macro name="ultrasonic_sensor" params="
    name 
    joint_xyz joint_rpy
    min_range:='0.02'
    max_range:='4.0'
    update_rate:=10
    fov:=0.349
    always_on:=true
    visualize:=false">

    <!-- Link -->
    <link name="${name}_link">
      <inertial>
        <mass value="0.0045"/>
        <inertia ixx="1e-7" ixy="0" ixz="0" iyy="5e-7" iyz="0" izz="6e-7"/>
      </inertial>

      <visual>
        <geometry>
          <mesh filename="package://polebot_amr_description/meshes/hcsr04.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${name}_material">
          <color rgba="0.086 0.322 0.580 1.0"/>
        </material>
      </visual>

      <!-- Simple collision -->
      <collision>
        <geometry>
          <cylinder radius="0.01" length="0.02"/>
        </geometry>
      </collision>
    </link>

    <!-- Fixed joint -->
    <joint name="${name}_joint" type="fixed">
      <parent link="base_link"/>
      <child link="${name}_link"/>
      <origin xyz="${joint_xyz}" rpy="${joint_rpy}"/>
    </joint>

    <!-- Gazebo: 1-beam ray sensor (ultrasonic approximation) -->
    <gazebo reference="${name}_link">
      <sensor name="${name}" type="gpu_lidar">
        <topic>/ultrasonic/${name}</topic>
        <update_rate>${update_rate}</update_rate>
        <always_on>${always_on}</always_on>
        <visualize>${visualize}</visualize>
        <lidar>
          <scan>
            <horizontal>
              <samples>1</samples>              <!-- ONLY 1 BEAM -->
              <min_angle>0</min_angle>          <!-- CENTERED -->
              <max_angle>0</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
          </range>
        </lidar>
        <plugin filename="libros_gz_sensor_plugin.so" name="ros_gz::SensorPlugin">
          <ros>
            <frame_id>${name}_link</frame_id>
          </ros>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>