<?xml version="1.0"?>
<robot name="polebot_amr" xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org">
  <xacro:arg name="robot_name" default="polebot_amr"/>
  <xacro:arg name="use_gazebo" default="true"/>

  <xacro:include filename="$(find polebot_amr_description)/urdf/mecha/base.xacro"/>
  <xacro:include filename="$(find polebot_amr_description)/urdf/mecha/wheel.xacro"/>
  <xacro:include filename="$(find polebot_amr_description)/urdf/sensors/ultrasonic.xacro"/>
  <xacro:include filename="$(find polebot_amr_description)/urdf/sensors/lidar.xacro"/>
  <xacro:include filename="$(find polebot_amr_description)/urdf/sensors/camera.xacro"/>

  <!-- <xacro:include filename="$(find polebot_amr_description)/urdf/control/gazebo_sim_ros2_control.xacro" />
  <xacro:gazebo_sim_ros2_control_plugin
    robot_name="$(arg robot_name)"
    use_gazebo="$(arg use_gazebo)"/>
  
  <xacro:include filename="$(find polebot_amr_description)/urdf/control/polebot_amr_ros2_control.xacro" />
  <xacro:polebot_amr_ros2_control
    use_gazebo="$(arg use_gazebo)"/> -->

  <xacro:ultrasonic_sensor 
    name="uls_frontleft"
    joint_xyz="0.570 0.206 0.06"
    joint_rpy="0 0 0"
    />
  <xacro:ultrasonic_sensor 
    name="uls_frontright"
    joint_xyz="0.570 -0.206 0.06"
    joint_rpy="0 0 0"
    />
  <xacro:ultrasonic_sensor 
    name="uls_backleft"
    joint_xyz="-0.405 0.206 0.06"
    joint_rpy="0 0 3.14"
    />
  <xacro:ultrasonic_sensor 
    name="uls_backright"
    joint_xyz="-0.405 -0.206 0.06"
    joint_rpy="0 0 3.14"
    />

  <xacro:lidar_sensor 
    name="lidar"
    parent_link="base_link"
    joint_xyz="0.470 0.0 0.116"
    joint_rpy="0 0 -1.57"
    mesh_xyz="0 0 0"
    mesh_rpy="0 0 0"
    />

  <xacro:camera_sensor 
    name="camera" 
    parent_link="base_link"
    joint_xyz="0.470 0.0 0.06"
    joint_rpy="0 -0.09 0"
    mesh_xyz="0 0 0"
    mesh_rpy="0 0 0"
    />
</robot>