<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lidar">
  <xacro:property name="mesh_path" value="$(find polebot_amr_description)/meshes"/>
  <!-- Macro lidar avec visual et collision identiques -->
  <xacro:macro name="lidar_sensor" params="
    name 
    parent_link 
    joint_xyz joint_rpy 
    mesh_xyz mesh_rpy 
    mesh
    update_rate:=10
    ray_count:=270
    min_angle:='-3.1456'
    max_angle:='3.1456'
    min_range:='0.2'
    max_range:='30.0'
    range_resolution:='0.013'
    topic_name:='laser_scan'
    always_on:=true
    visualize:=false
    enable_collision:=false">

    <link name="${name}">
      <inertial>
        <origin xyz="0 0 0.00977" rpy="0 0 0"/>
        <mass value="0.02915"/>
        <inertia ixx="3.79e-06" ixy="0" ixz="0" iyy="3.79e-06" iyz="0" izz="5.71e-06"/>
      </inertial>

      <!-- Visual -->
      <visual>
        <origin xyz="${mesh_xyz}" rpy="${mesh_rpy}"/>
        <geometry>
          <mesh filename="file://${mesh_path}/${mesh}" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${name}_material">
          <color rgba="0.301961 0.290196 0.262745 1.0"/>
        </material>
      </visual>

      <!-- Collision (identique au visual) -->
      <collision>
        <origin xyz="${mesh_xyz}" rpy="${mesh_rpy}"/>
        <geometry>
          <mesh filename="file://${mesh_path}/${mesh}" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <!-- Joint fixe -->
    <joint name="${name}_joint" type="fixed">
      <origin xyz="${joint_xyz}" rpy="${joint_rpy}"/>
      <parent link="${parent_link}"/>
      <child link="${name}"/>
      <axis xyz="0 0 1"/>
      <limit effort="10" velocity="10"/>
    </joint>

    <gazebo reference="${name}">
      <sensor name="lidar_sensor" type="gpu_lidar">
        <topic>${topic_name}</topic>
        <update_rate>${update_rate}</update_rate>
        <always_on>${always_on}</always_on>
        <visualize>${visualize}</visualize>
        <lidar>
          <scan>
            <horizontal>
              <samples>${ray_count}</samples>
              <resolution>1</resolution>
              <min_angle>${min_angle}</min_angle>
              <max_angle>${max_angle}</max_angle>
            </horizontal>
            <!-- 2D Lidar -->
            <vertical>
              <samples>1</samples>
              <resolution>1</resolution>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>${range_resolution}</resolution>
          </range>
        </lidar>
        <gz_frame_id>${name}</gz_frame_id>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
