<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ultrasonic_sensors">
  <xacro:property name="mesh_path" value="$(find polebot_amr_description)/meshes"/>
  <!-- Macro Xacro pour un capteur ultrasonique avec position locale -->
  <xacro:macro name="ultrasonic_sensor" params="
    name 
    joint_xyz joint_rpy
    update_rate:=10
    ray_count:=5
    min_angle:='-1.702'
    max_angle:='-1.422'
    min_range:='0.02'
    max_range:='4.0'
    range_resolution:='0.01'
    always_on:=true
    visualize:=false
    enable_collision:=false">

    <!-- Définition du lien du capteur -->
    <link name="${name}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.0045"/>
        <inertia ixx="1e-7" ixy="0" ixz="0" iyy="5e-7" iyz="0" izz="6e-7"/>
      </inertial>

      <!-- Visual -->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/hcsr04.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="${name}_material">
          <color rgba="0.086 0.322 0.580 1.0"/>
        </material>
      </visual>

      <!-- Collision -->
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/hcsr04.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <!-- Joint fixe entre le capteur et le parent -->
    <joint name="${name}_joint" type="fixed">
      <parent link="base_link"/>
      <child link="${name}"/>
      <origin xyz="${joint_xyz}" rpy="${joint_rpy}"/>
    </joint>

    <gazebo reference="${name}">
      <sensor name="${name}_sensor" type="gpu_lidar">
        <topic>${name}/range</topic>
        <update_rate>${update_rate}</update_rate>
        <always_on>${always_on}</always_on>
        <visualize>${visualize}</visualize>
        <lidar>
          <scan>
            <horizontal>
              <samples>${ray_count}</samples>
              <resolution>1</resolution>
              <min_angle>${min_angle}</min_angle>
              <max_angle>${max_angle}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>${range_resolution}</resolution>
          </range>
        </lidar>
        <gz_frame_id>${name}</gz_frame_id>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
